
#clockContainer{
    position: relative;
    margin: auto;
    width: 40vw;
    height: 40vw;
    background: url("clock.png") no-repeat center;
    background-size: 100%;
}

#hour,
#minute,
#second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    width: 1.5%;
    height: 25%;
    top: 25%;
    left: 49.25%;
    opacity: 0.8;
}

#minute{
    width: 1%;
    height: 32%;
    top: 18%;
    left: 49.5%;
    opacity: 0.8;
}

#second{
    width: 0.5%;
    height: 38%;
    top: 12%;
    left: 49.75%;
    background: red;
    opacity: 0.9;
}